################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ITExpertWebAPI/bin/Debug/net6.0
/ITExpertWebAPI/obj
